body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
}

@media (max-width: 767.98px) {
  .show-country{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
  }
  .country-table{
    display: none !important;
  }
  .grid-container{
    display: grid !important;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)) !important;
    justify-items: center;
  }
  .grid-container a {
    text-decoration: none;
    min-width: 90% !important;
  }
  .card{
    padding: 10px !important; 
  }
  .footer{
    flex-direction: column !important;
    min-height: 60vh;
    justify-content: center !important;
  }
  .grid-countries{
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)) !important;
  }
 }

.navBar {
  background-color: #f8f9fa;
  border-bottom: 1px solid #e3e6f0;
  display: flex;
  height: 15vh;
  align-items: center;
  justify-content: space-between;
  min-width: 100%;
}
.navBar h1 {
  margin: 0;
  padding: 15px 15px;
  cursor: pointer;
}
.navBar h1 a {
  text-decoration: none;
  color: #000
}
.navBar h1:hover {
  margin: 0;
  cursor: pointer;
  background-color: #007bff;
  color: #fff;
  border-radius: 5px;
  transition: 0.3s;
  padding: 15px 15px;
}

.navBar ul {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  align-items: center;
}

.navBar ul li {
  margin-right: 1rem;
}

.navBar ul li a {
  text-decoration: none;
  color: #000;
}

.navBar ul li a:hover {
  transition: 0.3s;
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 5px;
}

.grid-container {
  padding: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
  gap: 20px;
}

.card {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.h1-home {
  text-align: center;
  margin-top: 50px;
  color: #007bff;
}

.grid-container a {
  text-decoration: none;
}

.error-container {
  text-align: center;
  min-width: 80%;
  margin: 100px auto;
  background-color: #fff;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.error-container h1 {
  font-size: 24px;
  color: #007bff;
}

.error-container p {
  font-size: 16px;
  margin-top: 10px;
}

.country-table {
  width: 100%;
  border-collapse: collapse;
}

.country-table th,
.country-table td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.country-table th {
  background-color: #f2f2f2;
}

.country-show{
  padding: 25px;
  text-align-last: center;
  margin-top: 20px;
}

.show-country{
  display: none;
}

.grid-footer{
  padding: 25px;
  display: grid;
  align-items: center;
  color: #007bff;
  justify-content: space-between;
}

.grid-footer ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.grid-footer li {
  padding: 5px;
  padding-bottom: 10px;
}

.grid-footer a {
  text-decoration: none;
  color: #007bff;  
}

.grid-footer a:hover {
  color: #fff;
  background-color: #007bff;
  border-radius: 5px;
  padding: 5px 5px;
  transition: 0.3s;
}

section{
  min-height: 80vh;
}

.grid-countries{
  margin-top: 25px;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  justify-items: center;
}

.grid-countries a {
  text-decoration: none;
  min-width: 100%;
  padding: 10px;
}

.footer{
  background-color: #242629;
  min-width: 100%;
  height: 30vh;
  border-top: 1px solid #e3e6f0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer p {
  color: #fff;
  padding: 15px;
}